In [12]:
import pandas as pd
df = pd.read_csv('/content/Customers(4).csv', delimiter=';')
df.dropna(inplace=True)
df.groupby('Profession')['Income'].mean()

Profession
Artist           108776.580065
Doctor           111573.217391
Engineer         111161.240223
Entertainment    110650.333333
Executive        113770.130719
Healthcare       112574.041298
Homemaker        108758.616667
Lawyer           110995.838028
Marketing        107994.211765
Name: Income, dtype: float64